<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.54148031594-c65kdkqb6omfd3sepl6t2d6etk85a3dq</string>
			</array>
		</dict>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>Para poder grabar y enviar mensajes de voz en el chat.</string>
	<key>GIDClientID</key>
	<string>54148031594-c65kdkqb6omfd3sepl6t2d6etk85a3dq.apps.googleusercontent.com</string>
</dict>
</plist>
